hackingtools.log
core/__pycache__/
core/views_modules/__pycache__/
core/views_modules/*/__pycache__/
core/library/test.py
*.pyc
\.vscode/
\.vs/
*.spec
*.zip
*.log
hackingtoolsgui/__pycache__/
build/*
dist/*
core/library/hackingtools/core/apis_files
core/library/hackingtools/modules/*/*/output/
core/migrations/*
dist/