
core/__pycache__/
core/views_modules/__pycache__/
core/views_modules/*/__pycache__/

*.pyc

\.vscode/

*.spec

*.zip

hackingtoolsgui/__pycache__/

build/*
dist/*
core/library/hackingtools/modules/*/*/output/
core/migrations/*
dist/