<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />

      <title>{% block title %}{% endblock %} - Dashboard</title>

      {% load static %}

      <!-- For dropdown editable -->
      <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
      <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">

      <!-- Custom fonts for this template-->
      <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

      <!-- Custom styles for this template-->
      <link href="{% static 'core/css/sb-admin-2.min.css' %}" rel="stylesheet" />
      
      <link href="{% static 'core/css/jquery.edittreetable.css' %}" rel="stylesheet" />
      <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

      <!-- Toggle Bootstrap -->
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

      <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />

      {% block staticfiles %}{% endblock %}

      <script>
        $('.file-input').on('change',function(){
            //get the file name
            var fileName = ': ' + $(this).val();
            //replace the "Choose a file" label
            file_pieces = fileName.split('\\');
            $('.name-file').html(': <b>' + file_pieces[file_pieces.length-1] + '</b>');
        })
      </script>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Framework
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'home' %}" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Modules</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Loaded Modules:</h6>
              {% for mod in modules %}
                <a href="#" class="collapse-item" data-toggle="modal" data-target="#{{mod}}_test">{{mod}}</a>
              {% endfor %}
            </div>
          </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'home' %}" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Categories</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Categories:</h6>
              {% for cat in categories %}
                <a class="collapse-item" href="{% url 'home' %}">{{cat}}</a>
              {% endfor %}
            </div>
          </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'home' %}" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="true" aria-controls="collapseDocumentation">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Documentation</span>
          </a>
          <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Modules:</h6>
              {% for mod in modules %}
                <a class="collapse-item" href="{% url 'documentation' mod %}">{{mod}}</a>
              {% endfor %}
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Configuration
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>API Keys</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Begin Page Content -->
          <div class="container-fluid" style="padding-bottom: 200px;">
            {% block content %}{% endblock %}
          </div>

          <!-- Bottombar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow console-logger-nav">
            {% comment %} 
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="{% url 'home' %}" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

            </ul> {% endcomment %}

            <!-- Bottom Console -->
            <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search" id="bottomConsoleResultBar">
              <textarea class="form-control logger-results" id="resultsLogger" rows="4" spellcheck="false" aria-describedby="basic-addon2" placeholder="Waiting Results..." disabled></textarea>
              <textarea class="form-control logger-console" id="consoleLogger" rows="4" spellcheck="false" aria-describedby="basic-addon2" disabled>Loading Log...</textarea>
            </form>
            <script>
            function expandTextarea(id) {
                document.getElementById(id).addEventListener('keyup', function() {
                    this.style.overflow = 'hidden';
                    this.style.height = 0;
                    this.style.height = this.scrollHeight + 'px';
                }, false);
            }
            expandTextarea('consoleLogger');
            timer_clicktime = 200
            length_console_logs = 0
            var timer = {
              running: false,
              iv: timer_clicktime,
              timeout: false,
              cb : function(){},
              start : function(cb,iv){
                  var elm = this;
                  clearInterval(this.timeout);
                  this.running = true;
                  if(cb) this.cb = cb;
                  if(iv) this.iv = iv;
                  this.timeout = setTimeout(function(){elm.execute(elm)}, this.iv);
              },
              execute : function(e){
                  if(!e.running) return false;
                  e.cb();
                  e.start();
              },
              stop : function(){
                  this.running = false;
              },
              set_interval : function(iv){
                  clearInterval(this.timeout);
                  this.start(false, iv);
              }
            };
            timer.start(function(){
              $.ajax({
                url : "{% url 'getLogs' %}", // the endpoint
                type : "POST", // http method
                async: true,
                success : function(res) {
                  if('data' in res && res.data && Object.keys(res.data).length !== 0 && length_console_logs !== Object.keys(res.data).length){
                    data_result = ''
                    res_data_keys = Object.keys(res.data).reverse()
                    for (var logtime in res_data_keys) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (res.data.hasOwnProperty(res_data_keys[logtime])) {
                          data_result += "[" + res_data_keys[logtime] + "] " + res.data[res_data_keys[logtime]] + "\n";
                        }
                    }
                    $('#consoleLogger').val(data_result)
                    $('#consoleLogger').val().replace(/<br>/gi,"\n")
                    timer.set_interval(500);
                    length_console_logs = Object.keys(res.data).length
                  } else {
                    // $('#consoleLogger').val('Loading Log...')
                    timer.set_interval(2000);
                  }
                },
                error : function(xhr,errmsg,err) {
                  console.log(xhr.status + ": " + xhr.responseText);
                }
              });
            }, timer_clicktime );
            
            </script>

          </nav>
          <!-- End of Bottombar -->

          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'core/js/sb-admin-2.min.js' %}"></script>

    <!-- Notifications for ajax success or error messages -->
    <script src="{% static 'core/js/notify.min.js' %}"></script>

    {% comment %} <!-- Page level plugins -->
    <script src="{% static 'core/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'core/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'core/js/demo/chart-pie-demo.js' %}"></script> {% endcomment %}

    <!-- Bootstrap Toggle-->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/mdbootstrap@4.8.9/js/mdb.min.js"></script>

  </body>
</html>
