{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="padding-bottom: 200px;">
    <!-- Pool List -->
    <div class="modal fade" id="pool_list" tabindex="-1" role="dialog" aria-labelledby="pool_list_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="{% url 'add_pool_node' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="pool_list_modal">Pool List:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input name="pool_ip" class="form-control bg-light border-0 small col-md-6 mb-4" placeholder="https://1.2.3.4:8000" required/>
              <textarea class="form-control">{{ pool_list | join:"&#10;" }}</textarea>
              <h5 class="modal-title">My services:</h5>
              <textarea class="form-control">{{ my_services | join:"&#10;" }}</textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Add pool node"></button>
            </div>
          </form>
          {% if not ngrokService and not is_heroku %}
            <div class="modal-body">
              <hr class='sidebar-divider my-0 my-separator'>
              <div style="display: flex;">
                <form action="{% url 'startNgrok' %}" method="post" id="startNgrok" name="startNgrok" style="margin: 0 10px;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Init ngrok</button>
                </form>
                <form action="{% url 'startNgrok' %}" method="post" id="startNgrok" name="startNgrok" style="margin: 0 10px;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Init ngrok</button>
                </form>
                <form action="{% url 'startNgrok' %}" method="post" id="startNgrok" name="startNgrok" style="margin: 0 10px;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Init ngrok</button>
                </form>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Top Menu -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <div class="d-sm-flex align-items-center justify-content-between mb-6">
        {% comment %} <input type="text" class="form-control" id="my_pool_id" value="{{my_node_id_pool}}" size="{{my_node_id_pool|length}}" onfocus="copyNodeIdToClipboard()" readonly/> |  {% endcomment %}
        <form id="switchPoolForm">
          {% csrf_token %}
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="checkSwitchPool" {% if status_pool %} checked {% endif %}>
            <label class="custom-control-label" for="checkSwitchPool">On/Off the Pool</label>
          </div>
          <!--<input id="checkSwitchPool" type="checkbox" style="border: 0px !important;" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-offstyle="danger" data-onstyle="{% if pool_list|length > 0 %}success{% else %}primary{% endif %}" {% if status_pool %}checked{% endif %}>-->
        </form>
        <script>
          $(function() {
            $('#checkSwitchPool').change(function(e) {
              e.preventDefault();
              //$("#switchPoolForm").submit();
              $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url : "{% url 'switchPool' %}", // the endpoint
                type : "POST", // http method
                async: true,
                data : { csrfmiddlewaretoken : '{{ csrf_token }}' },
                success : function(res) {
                    if('status' in res && res.status == true){
                      $('input:checkbox[id^="__pool_it_"]').each(function(){
                        document.getElementById($(this).attr('id')).parentElement.parentElement.style.display = "block";
                      });
                    } else {
                      if('status' in res && res.status == false){
                        $('input:checkbox[id^="__pool_it_"]').each(function(){
                          var a = document.getElementById($(this).attr('id')).parentElement.parentElement.style.display = "None";
                        });
                      }
                    }
                },
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
              });
            })
          })
        </script>
        <a href="#" href="#" data-toggle="modal" data-target="#pool_list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-upload fa-sm text-white-50"></i> Pool List ({{pool_list|length}})</a> | 
        <a href="{% url 'config_look_for_changes' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Refresh Config</a> | 
        <a id="restartServerButton" style="color: white;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Restart Server</a>
        <script>
          $('#restartServerButton').click(function(){
            $.ajax({
                url : "{% url 'restartServerDjango' %}", // the endpoint
                type : "POST", // http method
                data : { csrfmiddlewaretoken : '{{ csrf_token }}' },
                async: true,
                success : function(res) {
                  $.notify("Restart server:\n" + res['data'], "warn");
                  $.each($('.modal'), function(){
                    $(this).modal('hide');
                  });
                  $('#reloading-server').modal('show');
                  changeGif(Math.floor(Math.random() * 4) + 1);
                },
                error : function(xhr,errmsg,err) {
                  $.notify("Restart server:\n" + xhr.status + ": " + xhr.responseText, "error");
                  console.log(xhr.status + ": " + xhr.responseText);
                }
              });
          });
        </script>
      </div>
    </div>

    <!-- Panel Functions from Modules -->
    <div class="row">
        {% spaceless %}
            {% for name, funct in modules_all.items %}
            <div class="col-lg-3 mb-3">
                <h3>{{name}}</h3>
                <div class="moduleFunctions">
                {% if funct.items|length > 1 %}
                    {% for funct_name, funct_params in funct.items %}
                    {% if funct_name != 'help' %}
                        {% for tool, function in modules_functions_modals.items %}
                        {% for functi, data in function.items %}
                            {% if functi == funct_name and 'ht_'|add:name == tool %}
                            <!-- MODAL PARA LA FUNCTION -->
                            <div class="modal fade" id="testModuleFunctionModal_{{tool}}_{{functi}}" tabindex="-1" role="dialog" aria-labelledby="testModuleFunctionModalLabel_{{tool}}_{{functi}}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    {% for data_key, data_value in data.items %}
                                    {% if data_key in '__function__' %}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="testModuleFunctionModalLabel_{{tool}}_{{functi}}">Test {{functi}}</h5>
                                        </div><!-- -->
                                        <div class="modal-body">
                                            <form action="#" method="post" enctype="multipart/form-data" id="form_{{data_value}}">
                                            {% csrf_token %}
                                            {% for mod, modform in modules_forms_modal.items %}
                                                {% for f_name, f_data_form in modform.items %}
                                                {% if f_name == functi %}
                                                    {% if f_data_form %}
                                                    {{f_data_form|safe}}
                                                    {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            <input type="text" id="is_async_{{functi}}" name="is_async_{{functi}}" value="true" style="display: none;">
                                            <input type="submit" class="btn btn-primary" id="submit_{{functi}}" value="Test {{functi}}">
                                            </form>
                                            {% for modul, funcs in funcs_map.items %}
                                                {% if modul in 'ht_'|add:name %}
                                                    {% if functi in funcs %}
                                                    <form id="switchFunctionMap_{{modul}}_{{functi}}" class="on_off_in_map">
                                                        {% csrf_token %}
                                                        <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="checkSwitchFunctionMap_{{modul}}_{{functi}}" checked>
                                                        <label class="custom-control-label" for="checkSwitchFunctionMap_{{modul}}_{{functi}}">On/Off in map</label>
                                                        </div>
                                                    </form>
                                                    {% else %}
                                                    <form id="switchFunctionMap_{{modul}}_{{functi}}" class="on_off_in_map">
                                                        {% csrf_token %}
                                                        <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="checkSwitchFunctionMap_{{modul}}_{{functi}}">
                                                        <label class="custom-control-label" for="checkSwitchFunctionMap_{{modul}}_{{functi}}">On/Off in map</label>
                                                        </div>
                                                    </form>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}


                                            <script>
                                            $(function() {
                                                $("#checkSwitchFunctionMap_{{'ht_'|add:name}}_{{functi}}").change(function(e) {
                                                e.preventDefault();
                                                //$("#switchPoolForm").submit();
                                                $.ajax({
                                                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                                                    url : "{% url 'switchFunctionMap' %}", // the endpoint
                                                    type : "POST", // http method
                                                    async: true,
                                                    data : { csrfmiddlewaretoken : '{{ csrf_token }}' , module : 'ht_{{ name }}', functionName : '{{ functi }}'}
                                                });
                                                })
                                            })
                                            </script>
                                        </div>
                                        <script>
                                        $("#form_{{data_value}}").on('submit',(function(e) {
                                            e.preventDefault();
                                            var form = $('#form_{{data_value}}');

                                            $.ajax({
                                                url: '{% url data_value %}',
                                                type: "POST",
                                                data: new FormData($('#form_{{data_value}}')[0]),
                                                async: true,
                                                enctype: 'multipart/form-data',
                                                contentType: false,
                                                cache: false,
                                                processData: false,
                                                success : function(res) {
                                                try{
                                                    if('data' in res && res.data && Object.keys(res.data).length !== 0){
                                                    function isDict(v) {
                                                        return !!v && typeof v==='object' && v!==null && !(v instanceof Array) && !(v instanceof Date);
                                                    }
                                                    if(isDict(res.data)){
                                                        data = JSON.stringify(res.data, null, 2);
                                                        $.notify("{{functi}}:\n" + data, "success");
                                                        if($('#resultsLogger').val() != ''){
                                                        $('#resultsLogger').val("-----------------\n" + $('#resultsLogger').val())
                                                        }
                                                        $('#resultsLogger').val("{{functi}}:\n" + data + "\n" + $('#resultsLogger').val())
                                                    } else {
                                                        if(res.data instanceof Array){
                                                        var data = '';
                                                        for(var i=0; i < res.data.length; i++){
                                                            if(isDict(res.data[i])){
                                                            for(var key in res.data[i]){
                                                                data += key + ': ' + res.data[i][key];
                                                                if(res.data.length-1 != i){
                                                                data += "\n";
                                                                }
                                                            }
                                                            } else {
                                                            data += res.data[i];
                                                            if(res.data.length-1 != i){
                                                                data += "\n";
                                                            }
                                                            }
                                                            data += "-#-#-#-#-#-#-#-#-#-#-#-#-\n"
                                                        }
                                                        $.notify("{{functi}}:\n" + data, "success");
                                                        if($('#resultsLogger').val() != ''){
                                                            $('#resultsLogger').val("-----------------\n" + $('#resultsLogger').val())
                                                        }
                                                        $('#resultsLogger').val("{{functi}}:\n" + data + "\n" + $('#resultsLogger').val())
                                                        } else {
                                                        $('#popup_response_ajax').modal('show');
                                                        $('#response_ajax').empty();
                                                        $('#response_ajax').append(res.data);
                                                        $('#responseLabelAjax').text('Response from {{functi}}');
                                                        }
                                                    }
                                                    } else {
                                                    /*$('#popup_textarea').val(res)
                                                    $('#popup').modal('show');*/
                                                    if('data' in res){
                                                        if(res.data == ''){
                                                        $.notify("{{functi}} - Empty response...", "warn");
                                                        } else {
                                                        $.notify("{{functi}} - " + res.data, "warn");
                                                        }
                                                    } else {
                                                        if(res == ''){
                                                        $.notify("{{functi}} - Empty response...", "warn");
                                                        } else {
                                                        $.notify("{{functi}} - " + res, "warn");
                                                        }
                                                    }
                                                    if($('#resultsLogger').val() != ''){
                                                        $('#resultsLogger').val("-----------------\n" + $('#resultsLogger').val())
                                                    }
                                                    $('#resultsLogger').val("{{functi}}:\n" + res + "\n" + $('#resultsLogger').val())
                                                    }
                                                } catch(error) {
                                                    $.notify("{{functi}} - Could not get the response... Seems not to be a readable value... Is any type of file?", "error");
                                                    if($('#resultsLogger').val() != ''){
                                                    $('#resultsLogger').val("-----------------\n" + $('#resultsLogger').val())
                                                    }
                                                    $('#resultsLogger').val("{{functi}}:\nCould not get the response... Seems not to be a readable value... Is any type of file?\n" + $('#resultsLogger').val())
                                                }
                                                },
                                                error : function(xhr,errmsg,err) {
                                                /*console.log(xhr.status + ": " + xhr.responseText);*/
                                                $.notify("{{functi}} - " + res, "error");
                                                if($('#resultsLogger').val() != ''){
                                                    $('#resultsLogger').val("-----------------\n" + $('#resultsLogger').val())
                                                }
                                                $('#resultsLogger').val("{{functi}}:\n" + res + "\n" + $('#resultsLogger').val())
                                                }
                                            });
                                            return false;
                                        }));
                                        $('#submit_{{functi}}').submit(function(e) {
                                            e.preventDefault();
                                            $('form_{{data_value}}').submit(upload);
                                        });
                                        </script>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                            <script>
                                $("#function_background_{{name}}_{{funct_name}}").ready(function(){
                                $("#function_background_{{name}}_{{funct_name}}").removeClass("bg-dark");
                                $("#function_background_{{name}}_{{funct_name}}").addClass("bg-info");
                                });
                            </script>
                            {% endif %}
                        {% endfor %}
                        {% endfor %}
                        <a href="#" data-toggle="modal" data-target="#testModuleFunctionModal_ht_{{name}}_{{funct_name}}">
                        <div class="card bg-dark text-white shadow mouseOverFunction card-function" id="function_background_{{name}}_{{funct_name}}">
                            <div class="card-body">
                            {{funct_name}}
                            {% for i, param in funct_params.original_params.items %}
                                {% if param %}
                                <div class="text-white-50 small">{{i}}: {{param}}</div>
                                {% else %}
                                {% if i == 'params' %}
                                    <div class="text-white-50 small">No obligatory params</div>
                                {% else %}
                                    <div class="text-white-50 small">No params</div>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            </div>
                            {% for modul, funcs in funcs_map.items %}
                            {% if modul in 'ht_'|add:name %}
                                {% if funct_name in funcs %}
                                <i class="far fa-map in_map_icon"></i>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        </a>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="card bg-secondary text-white shadow mouseOverFunction">
                    <div class="card-body">
                        No functions
                    </div>
                    </div>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endspaceless %}
    </div>
    
  </div>
  <!-- End of Bottombar -->

  <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
</div>
{% endblock %}