{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% if popup_text %}
      <script type="text/javascript">
        $(window).on('load',function(){
          $('#popup').modal('show');
        });
        function copyToClipboard() {
          var copyText = document.getElementById("popup_textarea");
          copyText.select();
          document.execCommand("copy");
          $('#popup').modal('hide');
        }
      </script>
      <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="responseLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-pop-up" role="document">
          <div class="modal-content" style="height: 500px;">
            <div class="modal-header">
              <h5 class="modal-title" id="responseLabel">Response:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea id="popup_textarea" class="form-control">{{popup_text|safe}}</textarea>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" value="Copy to the clipboard" onclick="copyToClipboard()"></button>
              </div>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Page Heading -->
    {% comment %} <script>
      function copyNodeIdToClipboard() {
        var copyText = document.getElementById("my_pool_id");
        copyText.select();
        document.execCommand("copy");
        temp = copyText.value
        copyText.value = 'Pool Node copied for sharing'
        setTimeout(function(){
          copyText.value = temp
        }, 2000);
      }
    </script> {% endcomment %}
    <div class="modal fade" id="pool_list" tabindex="-1" role="dialog" aria-labelledby="pool_list_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="{% url 'add_pool_node' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="pool_list_modal">Pool List:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input name="pool_ip" class="form-control bg-light border-0 small col-md-6 mb-4" placeholder="https://1.2.3.4:8000" required/>
              <textarea class="form-control">{{pool_list}}</textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Add pool node"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <div class="d-sm-flex align-items-center justify-content-between mb-6">
        {% comment %} <input type="text" class="form-control" id="my_pool_id" value="{{my_node_id_pool}}" size="{{my_node_id_pool|length}}" onfocus="copyNodeIdToClipboard()" readonly/> |  {% endcomment %}
        <form action="{% url 'switchPool' %}" method="POST" id="switchPoolForm">
          {% csrf_token %}
          <input id="checkSwitchPool" type="checkbox" style="border: 0px !important;" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-offstyle="danger" data-onstyle="{% if pool_list|length > 0 %}success{% else %}primary{% endif %}" {% if status_pool %}checked{% endif %}>
        </form> | 
        <script>
          $(function() {
            $('#checkSwitchPool').change(function() {
              $("#switchPoolForm").submit();      
            })
          })
        </script>
        <a href="#" href="#" data-toggle="modal" data-target="#pool_list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-upload fa-sm text-white-50"></i> Pool List ({{pool_list|length}})</a> | 
        <a href="{% url 'config_look_for_changes' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Refresh Config</a>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <!-- Modal create Module -->
      <div class="modal fade" id="createModuleModal" tabindex="-1" role="dialog" aria-labelledby="createModuleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="{% url 'createmod' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="createModuleLabel">Create new Module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input name="module_name" class="form-control bg-light border-0 small col-md-6 mb-4" placeholder="Module name" required/>
                <span>Category:</span><br />
                <select id="editable-select" name="category_name" class="custom-select custom-select-sm form-control form-control-sm col-xl-3 col-md-6 mb-4">
                  {% for cat in categories %}
                    <option value="{{cat}}">{{cat}}</option>
                  {% endfor %}
                </select>
                <script>
                  $('#editable-select').editableSelect();
                </script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save changes"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <a href="#" data-toggle="modal" data-target="#createModuleModal">
          <div class="card border-left-success shadow h-100 py-2 overMouseButtons">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{modules|length}} Modules - {{categories|length}} Categories Loaded</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Create Module</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-edit fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Modal config Module -->
      <div class="modal fade" id="configModuleModal" tabindex="-1" role="dialog" aria-labelledby="configModuleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-bigger" role="document">
          <div class="modal-content">
            <form action="{% url 'configmod' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="configModuleLabel">Configure Module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div id="bs-ml-treetable" class="treetable">
                    Loading ...
                  </div>
                </div>
                <script type="text/javascript" src="{% static 'core/js/jquery.edittreetable.js' %}"></script>
                <script type="text/javascript">
                  var data = [{{modules_config_treeview|safe}}];

                  $("#bs-ml-treetable").bstreetable({
                    data:data,
                    maintitle:"Key",
                    nodeaddCallback:function(data,callback){
                      alert(JSON.stringify(data));
                      callback({id:18,name:data.name,innercode:"ttttt",pid:data.pid});
                    },
                    noderemoveCallback:function(data,callback){
                      alert(JSON.stringify(data));
                      callback();
                    },
                    nodeupdateCallback:function(data,callback){
                      alert(JSON.stringify(data));
                      callback();
                    },
                    extfield:[
                      {title:"Value",key:"value",type:"input"}
                    ]
                  });
                </script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save module"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <a href="#" data-toggle="modal" data-target="#configModuleModal">
          <div class="card border-left-info shadow h-100 py-2 overMouseButtons">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Change your configuration</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Config Modules</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-cogs fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Modal create Script -->
      <div class="modal fade" id="createScriptModuleModal" tabindex="-1" role="dialog" aria-labelledby="createScriptModuleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-bigger" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createScriptModuleLabel">Create Script</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body modal-body-limited">
              <div class="row">
                {% for name, funct in modules_all.items %}
                  <div class="col-lg-3 mb-3">
                      {{name}}
                      {% if funct.items %}
                        {% for funct_name, funct_params in funct.items %}
                          {% for tool, function in modules_functions_modals.items %}
                            {% for functi, data in function.items %}
                              {% if functi == funct_name and 'ht_'|add:name == tool %}
                                <!-- MODAL PARA LA FUNCTION -->
                                <div class="modal fade" id="testModuleFunctionModal_{{tool}}_{{functi}}" tabindex="-1" role="dialog" aria-labelledby="testModuleFunctionModalLabel_{{tool}}_{{functi}}" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      {% for data_key, data_value in data.items %}
                                        {% if data_key in '__function__' %}
                                          <form action="{% url data_value %}" method="post" enctype="multipart/form-data" id="form_{{data_value}}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="testModuleFunctionModalLabel_{{tool}}_{{functi}}">Test {{functi}}</h5>
                                            </div>
                                            <div class="modal-body">
                                              {% for mod, modform in modules_forms_modal.items %}
                                                {% for f_name, f_data_form in modform.items %}
                                                  {% if f_name == functi %}
                                                    {{f_data_form|safe}}
                                                  {% endif %}
                                                {% endfor %}
                                              {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                              <input type="submit" class="btn btn-primary" value="Test {{functi}}"></button>
                                            </div>
                                              {% comment %} <script>
                                                function upload(event) {
                                                  event.preventDefault();
                                                  var data = new FormData($('form_{{data_value}}').get(0));

                                                  $.ajax({
                                                      url: $(this).attr('action'),
                                                      type: $(this).attr('method'),
                                                      data: data,
                                                      cache: false,
                                                      processData: false,
                                                      contentType: false,
                                                      success: function(data) {
                                                          alert('success');
                                                          alert(data)
                                                      }
                                                  });
                                                  return false;
                                                }
                                                function submit(){
                                                  $('form_{{data_value}}').submit(upload);
                                                }
                                              </script> {% endcomment %}
                                          </form>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                <script>
                                  $("#function_background_{{name}}_{{funct_name}}").ready(function(){
                                    $("#function_background_{{name}}_{{funct_name}}").removeClass("bg-dark");
                                    $("#function_background_{{name}}_{{funct_name}}").addClass("bg-info");
                                  });
                                </script>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                          <a href="#" data-toggle="modal" data-target="#testModuleFunctionModal_ht_{{name}}_{{funct_name}}">
                            <div class="card bg-dark text-white shadow mouseOverFunction" id="function_background_{{name}}_{{funct_name}}">
                              <div class="card-body">
                                {{funct_name}}
                                {% for i, param in funct_params.items %}
                                  {% if param %}
                                  <div class="text-white-50 small">{{param}}</div>
                                  {% else %}
                                  <div class="text-white-50 small">No params</div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                          </a>
                        {% endfor %}
                      {% else %}
                        <div class="card bg-secondary text-white shadow mouseOverFunction">
                          <div class="card-body">
                            No functions
                          </div>
                        </div>
                      {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save script"></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <a href="#" data-toggle="modal" data-target="#createScriptModuleModal">
          <div class="card border-left-primary shadow h-100 py-2 overMouseButtons">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Try creating your own script</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Create Script</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-folder fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="modal fade" id="testModuleModal" tabindex="-1" role="dialog" aria-labelledby="testModuleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="testModuleLabel">Test your Module</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <a href="#" data-toggle="modal" data-target="#testModuleModal">
          <div class="card border-left-warning shadow h-100 py-2 overMouseButtons">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Test created Modules</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Test Module-Scripting</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="row">
          {% for mod, modform in modules_forms.items %}
            <div class="modal fade" id="{{mod}}_test" tabindex="-1" role="dialog" aria-labelledby="{{mod}}_test_label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="{{mod}}_test_label">Module: {{mod}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="{% url 'test_'|add:mod %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{modform|safe}}
                  </form>
                  <!--<div id="console_command">{{console_command}}</div>-->
                </div>
              </div>
            </div>
          {% endfor %}
          {% for mod in modules %}
            <div class="col-lg-4 mb-3">
              <a href="#" data-toggle="modal" data-target="#{{mod}}_test">
                <div class="card bg-success text-white shadow mouseOverModule">
                  <div class="card-body">
                    {{mod}}
                    <div class="text-white-50 small">Module</div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Content Column -->
      <div class="col-lg-6 mb-4">

        <!-- Color System -->
        <div class="row">
          {% for cat in categories %}
            <div class="col-lg-4 mb-3">
              <div class="card bg-primary text-white shadow mouseOverCategory">
                <div class="card-body">
                  {{cat}}
                  <div class="text-white-50 small">Category</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}